In [1]:
import pandas as pd
import seaborn as sns
import joblib

from sklearn.preprocessing import StandardScaler

___
### chargement du modèle et des données

In [2]:
nb_lines = 2

# Charger le modèle et le scaler depuis le fichier
model = joblib.load('model.pkl')
scaler = joblib.load('scaler.pkl')

# données
df = sns.load_dataset('penguins')
df = df.dropna()  # Supprimer les lignes avec des valeurs manquantes
df.reset_index(drop=True, inplace=True)
display(df[df['species'] == 'Adelie'].head(nb_lines))
display(df[df['species'] == 'Gentoo'].head(nb_lines))
display(df[df['species'] == 'Chinstrap'].head(nb_lines))

# species
# Adelie       152
# Gentoo       124
# Chinstrap     68

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
214,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,Female
215,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
146,Chinstrap,Dream,46.5,17.9,192.0,3500.0,Female
147,Chinstrap,Dream,50.0,19.5,196.0,3900.0,Male

___
### tests manuels

In [13]:
rang = 215

X = df.drop(columns=['species'])
y = df['species']

X_dummies = pd.get_dummies(X, drop_first=True)

X_valid_sample_transformed = scaler.transform([X_dummies.iloc[rang]])

# Prédiction avec le modèle
y_pred_sample = model.predict(X_valid_sample_transformed)
print('____________________________________________________________________________________________________')
print(f"Prédiction pour X[rang={rang}]:", y_pred_sample)
print('____________________________________________________________________________________________________')
print('')
print(y.iloc[rang])
print('')
print(X.iloc[rang])
print('')
print('____________________________________________________________________________________________________')
print('')

____________________________________________________________________________________________________
Prédiction pour X[rang=215]: ['Gentoo']
____________________________________________________________________________________________________

Gentoo

island               Biscoe
bill_length_mm         50.0
bill_depth_mm          16.3
flipper_length_mm     230.0
body_mass_g          5700.0
sex                    Male
Name: 215, dtype: object

____________________________________________________________________________________________________

/home/utilisateur/Documents/projects/DEV_IA/monitoring_penguins/venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(